<div class="content_wrap">

  <div class="area_container intro_area">
    <div class="area_body">
      <h1><span class="blind">Mysupercar</span></h1>
      <div class="intro_head inner">
        <h2 class="area_tit">
          <span class="bar"></span>
          특별한 날에는 특별한 차량으로<br />소중한 추억을 만드세요!
        </h2>
        <p class="copy_2">웨딩, 프로포즈, 데이트, 여행의<br />특별한 날을 준비하세요</p>
      </div>
      <div class="intro_tail">
        <p class="copy_3 inner">고객이 원하는 다양한 수입차량 보유<br />원하는 시간과 장소로 편리한 탁송 서비스 제공</p>
        <ul class="intro_btns">
          <li><a href="#" role="button">전화상담</a></li>
          <li><a href="#" role="button">1:1카톡</a></li>
          <li><a href="#" role="button">선예약 상담</a></li>
        </ul>
        <div class="inner">
          <hr />
          <h2>왜? mysupercar를 선택해야 하나요?</h2>
          <ul class="answers">
            <li>1. 3년이내 새차량으로 철저한 관리가 되어 있습니다</li>
            <li>2. 국내 최대 규모로 고객이 원하는 차량 즉시 준비 가능합니다</li>
            <li>3. 정식 수입 차량으로 100% 차량 보험 가입 되어 있습니다</li>
            <li>4. 자사 보유 외 차량도 주문하시면 최대한 준비해 드립니다</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="area_container banner_area">
    <div class="area_body">
      <div class="center"><a href="#" class="bn_whiteday"><img src="assets/img/bn_whiteday.jpg" /></a></div>

      <span class="blank_line"></span>

      <div class="inner">
        <h2 class="area_tit black">
          <span class="bar"></span>
          마이슈퍼카 추천 서비스
        </h2>
      </div>

      <div class="slides">
        <a href="#"><img src="assets/img/svc_weddingcar.jpg" alt="웨딩카 서비스" /></a>
        <a href="#"><img src="assets/img/svc_weddingcar.jpg" alt="웨딩카 서비스" /></a>
        <a href="#"><img src="assets/img/svc_weddingcar.jpg" alt="웨딩카 서비스" /></a>
      </div>
    </div>
  </div>

  <div class="area_container step_area">
    <div class="area_body">
      <div class="inner">
        <h2 class="area_tit white">
          <span class="bar bar_white"></span>
          마이슈퍼카 렌트 방법
        </h2>
      </div>

      <span class="blank_line"></span>

      <div class="center">
        <img src="assets/img/step_contents.png" />
      </div>
    </div>
  </div>

  <div class="area_container brands_area">
    <div class="area_body">
      <div class="inner">
        <h2 class="area_tit black">
          <span class="bar"></span>
          마이슈퍼카 차량 소개
        </h2>
      </div>
      <ul class="brand_icons">
        <script id="brand_icons_template" type="text/x-handlebars-template">
          <li>
            <a href="#" data-brand="{{brand}}">
              <img src="assets/img/brand_logo_{{brand}}.jpg" />
            </a>
          </li>
        </script>
      </ul>
    </div>
  </div>

  <div class="inner"><hr /></div>

  <div class="area_container link_area">
    <div class="area_body">
      <ul class="link_btns">
        <li><a href="#" role="button">전화상담</a></li>
        <li><a href="#" role="button">1:1카톡</a></li>
        <li><a href="#" role="button">선예약 상담</a></li>
      </ul>
      <p class="copy_1">마이슈퍼카 <strong>카톡 플러스친구,<br />
        페이스북 친구</strong>를 추가 하시면
      </p>
      <p class="copy_2">다양한 이벤트 / 특가 정보를<br />
        받으실 수 있습니다
      </p>
      <ul class="share_btns">
        <li><a href="#" role="button" class="btn_share_kakao"><span class="blind">카카오톡</span></a></li>
        <li><a href="#" role="button" class="btn_share_facebook"><span class="blind">페이스북</span></a></li>
        <li><a href="#" role="button" class="btn_share_blog"><span class="blind">네이버블로그</span></a></li>
      </ul>
      <ul class="link_list">
        <li><a href="#">이용가이드</a></li>
        <li><a href="#">대여자격</a></li>
        <li><a href="#">대여절차</a></li>
        <li><a href="#">반납절차</a></li>
        <li><a href="#">보험 및 보상안내</a></li>
      </ul>
    </div>
  </div>

  <div class="area_container footer_area">
    <div class="area_body">
      <h2>(주)더블유 렌탈</h2>
      <p>서울특별시 성동구 광나루로 275 세신빌딩 / 회사전화번호<br />
        대표이름 / 사업자등록번호 / 이메일
      </p>
      <ul>
        <li><a href="#" class="btn_agreement">이용자약관</a></li>
        <li><a href="#">개인정보취급방침</a></li>
        <li><a href="#">영상정보처리기기 운영관리방침</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="msc_modal">
  <div class="msc_modal_tit"></div>
  <a href="#" class="msc_modal_close"></a>

  <div class="msc_container agreement_container">약관내용</div>

  <div class="msc_container cars_container"></div>
  <script id="cars_item_template" type="text/x-handlebars-template">
    {{#models}}
    <div class="cars_item">
      <div class="car_name">{{name}}</div>
      <div class="car_image"><img src="assets/img/{{image}}" /></div>
      <dl>
        <dt>연비</dt>
        <dd class="car_mileage">{{mileage}}</dd>
        <dt>연료</dt>
        <dd class="car_fuel">{{fuel}}</dd>
      </dl>
      <a href="#" class="car_reserv_btn">선예약상담</a>
    </div>
    {{/models}}
  </script>
</div>

<script type="text/javascript" src="assets/js/jquery/jquery.min.js"></script>
<script type="text/javascript" src="assets/js/jquery/jquery.slides.min.js"></script>
<!--<script type="text/javascript" src="assets/bootstrap/js/bootstrap.min.js"></script>-->
<script type="text/javascript" src="assets/js/handlebars/handlebars.min.js"></script>
<script type="text/javascript" src="assets/js/history.js"></script>
<!-- <script type="text/javascript" src="assets/js/app.js"></script>  -->
