<div class="msc_modal" style="display: block">
  <div class="msc_modal_tit">대여자격</div>
  <a href="#" class="msc_modal_close"></a>

  <div class="msc_container agreement_container">
   <li>도로교통법상 유효한 운전면허 소지자  </li>
   <li>외국인일 경우 국제 운전면허증 및 여권소지자 </li>
   <li>소/중/대형 : 만 21세 이상, 운전면허 1년 이상 </li>
   <li>SUV 및 7~12인승 승합차 : 만 21세 이상, 운전면허 2년 이상 </li>
   <li>고급형 : 만 21세 이상, 운전면허 2년 이상 </li>
   <li>수입차 : 만 26세 이상, 운전면허 3년 이상 </li>
   <li>운전면허 적성검사 유효기간이 대여기간 이상이어야 대여 가능 </li>
   <li>제 2운전자 등록을 원할 경우, 대여 시 운전면허증을 지참하고 동행해야 함 </li>
  </div>
</div>